* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #FFFFFF;
    background-image: url(/img/e_backround.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* TOTAL SLOT GRAPH  */
.circular-chart {
    max-height: 172px;
}

.circle-bg {
    fill: none;
    stroke: #E4E6F1;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    transform-origin: 50% 50%;
    transform: rotate(293deg);
}

.circular-chart.blue .circle {
    stroke: #236BFF;
}

.product_n {
    fill: #236BFF;
    font-family: sans-serif;
    font-size: 8px;
    text-anchor: middle;
}

.product_t {
    fill: #B9B3C6;
    font-family: sans-serif;
    font-size: 3px;
    text-anchor: middle;
    font-weight: 200;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
/* TOTAL SLOT GRAPH END  */

textarea::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.05em;
    color: rgba(29, 48, 66, 0.2);
}
#file_drag {
    opacity: 0;
    
}
.search-form{
    background-image: url(/img/search.svg);
    background-position-x: 1rem;
    background-position-y: center;
    background-repeat: no-repeat;
}

tr:nth-child(n+3):not(:first-child):not(:nth-child(2)) {
    border-top: 1px solid #E8EAEC;
}

.change-chart::after{
    content: "";
    background-color: #236BFF;
    height: 1px;
    width: 85%;
    border: 0.5px solid #236BFF;
    display: block;
    transform: translate(0px, 17px);
}